JWT_SECRET=secret_key
OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
PORT=5000
FIREBASE_SERVICE_ACCOUNT="" # JSON string ou base64 do JSON
VITE_GOOGLE_CLIENT_ID=219675169776-nnvev8rnmbkqf6vhpki657u0be71susb.apps.googleusercontent.com